{{>layout/header}}

<div id="header" role="banner">
    <h1>Laho-Pedia</h1>
    <form class="navbar-form" role="search" style="float: right">
        <div class="form-group" style="width: 300px; display: inline-block">
            <input id = "key_word" type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search_btn" type="button" class="btn btn-primary" style="display: inline-block">검색</button>
    </form>
</div>

{{>layout/footer}}